<head>
    <link rel="stylesheet" href="/css/homepage.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>
<section class="banner-section">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <div class="navbar-nav mr-auto mt-2 mt-lg-0">
                <a href="/homepage">
                    <img src="/image/XYZUniversity.png" alt="university LOGO" style="width: 250px;height:74px">
                </a>
            </div>

            <div class="form-inline my-2 my-lg-0">
                <div class="form-inline my-2 my-lg-0">
                    <div class="helplineLFT">
                        <img src="/image/Helpline.png" alt="Helpline">
                        <p style="margin-bottom: 0px;">Helpline (Toll Free)</p>
                        <h3 style="font-size: 1.5rem; margin-bottom: 0px;">155335, 1800-345-6770</h3>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner-content">
                    <h1>"Education is the most powerful weapon which you can use to change the world"</h1>
                </div>
            </div>
        </div>
        <div class="banner-box">
            <div class="row">
                <div class="col-lg-4 col-sm-4">
                    <div class="card yellow">
                        <div class="ico-circle">
                            <img src="/image/Higher-education.png" alt="Higher-education">
                        </div>
                        <div class="ico-circle-right">
                            <div class="ico-circle-right-text">
                                <h3>Higher Education</h3>
                            </div>
                            <a href="/postgraduation" class="" target="_blank">Degree (+3)</a>
                            <!--<a href="Degreeweb.aspx" class="btn btn-yellowBG btn-block button1" target="_blank">Degree (+3)</a>-->
                            <a href="/postgraduation" target="_blank" class="">Post Graduation</a>
                            <!--<a href="#" class="btn btn-yellowBG btn-block button1">Teacher Education (HE)</a>-->
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="card yellow">
                        <div class="ico-circle">
                            <img src="/image/SchoolMass.png" alt="Higher-education">
                        </div>
                        <div class="ico-circle-right">
                            <div class="ico-circle-right-text">
                                <h3>School & Mass Education</h3>
                            </div>
                            <a href="/postgraduation" class="" target="_blank">Higher Secondary School (+2)</a>
                            <!--<a href="Degreeweb.aspx" class="btn btn-yellowBG btn-block button1" target="_blank">Degree (+3)</a>-->
                            <a href="/postgraduation" target="_blank" class="">Secondary School (10th)</a>
                            <!--<a href="#" class="btn btn-yellowBG btn-block button1">Teacher Education (HE)</a>-->
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="card yellow">
                        <div class="ico-circle">
                            <img src="/image/Skill-development.png" alt="Higher-education">
                        </div>
                        <div class="ico-circle-right">
                            <div class="ico-circle-right-text">
                                <h3>Skill Development & Tech Education</h3>
                            </div>
                            <a href="/postgraduation" class="" target="_blank">ITI</a>
                            <!--<a href="Degreeweb.aspx" class="btn btn-yellowBG btn-block button1" target="_blank">Degree (+3)</a>-->
                            <a href="/postgraduation" target="_blank" class="">Diploma</a>
                            <!--<a href="#" class="btn btn-yellowBG btn-block button1">Teacher Education (HE)</a>-->
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sams-highlighter">
    <div class="container">
        <h2 class="heading">XYZ COLLEGE Highlights @ 2019-20</h2>
        <div class="btmwidth"></div>
        <div class="row">
            <div class="col-lg-2 col-6 pad-right-0">
                <div class="card button1">
                    <div class="icon-7"></div>
                    <span>College Participation</span>
                    <h2 class="count-number">4938</h2>
                </div>
            </div>
            <div class="col-lg-2 col-6 pad-right-0">
                <div class="card button1">
                    <div class="icon-6"></div>
                    <span>
                        Applied
                        <br>
                        Online
                    </span>
                    <h2 class="count-number">8.2 L</h2>
                </div>
            </div>
            <div class="col-lg-2 col-6 pad-right-0">
                <div class="card button1">
                    <div class="icon-7"></div>
                    <span>Online Applied Percentage</span>
                    <h2 class="count-number">98.57</h2>
                </div>
            </div>
            <div class="col-lg-2 col-6 pad-right-0">
                <div class="card button1">
                    <div class="icon-6"></div>
                    <span>Admission Strength</span>
                    <h2 class="count-number">8,96,979</h2>
                </div>
            </div>
            <div class="col-lg-2 col-6 pad-right-0">
                <div class="card button1">
                    <div class="icon-7"></div>
                    <span>
                        Admission
                        <br>
                        Taken
                    </span>
                    <h2 class="count-number">6,57,418</h2>
                </div>
            </div>
            <div class="col-lg-2 col-6 pad-right-0">
                <div class="card button1">
                    <div class="icon-6"></div>
                    <span>Admission Taken Percentage</span>
                    <h2 class="count-number">73.29</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="student-academic">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5">
                <img src="/image/Laptop.png" alt="SAMS Application">
            </div>
            <div class="col-lg-7">
                <h1>
                    Student Academic<br>
                    Management System (SAMS)
                </h1>
                <p>Student Admission in Junior (+2), and Degree (+3) Colleges were done in offline mode where students
                    were required to go to every colleges to apply for Admission (for e.g. if a student desires to apply
                    for five colleges he/she have to go every college) which turned out to be an arduous task for
                    students.</p>
                <a href="innerpage.html" class="btn btn-secondary button2">Read more on SAMS</a>
            </div>
        </div>
    </div>
</section>
<section class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <h5>SAMS Website</h5>
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <ul class="listed-item">
                            <li><a href="http://samsodisha.gov.in/Degreeweb.aspx" target="_blank">Degree (+3)</a></li>
                            <li><a href="http://samsodisha.gov.in/Juniorweb.aspx" target="_blank">Higher Secondary
                                    School (+2)</a></li>
                            <li><a href="http://scert.samsodisha.gov.in/bedweb.aspx" target="_blank">Teacher Education
                                    &amp; SCERT</a></li>
                            <li><a href="http://samsodisha.gov.in/CorrespondenceWeb.aspx" target="_blank">Correspondence
                                    (CHSE)</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <ul class="listed-item">
                            <li><a href="http://skill.samsodisha.gov.in/ITI.aspx" target="_blank">ITI</a></li>
                            <li><a href="http://skill.samsodisha.gov.in/Diploma.aspx" target="_blank">Diploma
                                    (Polytechnic)</a></li>
                            <li><a href="http://dsy.samsodisha.gov.in/sports.aspx" target="_blank">Physical
                                    Education</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-sm-6">
                <h5>About</h5>
                <ul class="listed-item">
                    <li><a href="#">About SAMS</a></li>
                    <li><a href="#">Feedback</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6">
                <h5>Connect</h5>
                <ul class="socialicons">
                    <li class="icon-circle">
                        <a href="https://www.facebook.com/SAMSOdisha1" target="_blank" class="ifacebook"
                            title="Facebook"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="icon-circle">
                        <a href="https://twitter.com/SAMSOdisha" target="_blank" class="itwittter" title="Twitter"><i class="fab fa-twitter-square"></i></a>
                    </li>
                    <li class="icon-circle">
                        <a href="https://twitter.com/SAMSOdisha" target="_blank" class="itwittter" title="Twitter"><i class="fab fa-twitter-square"></i></a>
                    </li>
                    <!--<li class="icon-circle">
                            <a href="#" class="igoogle" title="Google+"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li class="icon-circle">
                            <a href="#" class="iyoutube" title="Youtube"><i class="fa fa-youtube"></i></a>
                        </li>-->
                </ul>
            </div>
        </div>
    </div>
</section>