<head>
    <link rel="stylesheet" href="/css/postgraduation.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>

<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/homepage"><img src="image/sams-logo.png" style="width: 160px;" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Cources Offered</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Contact Us</a>
            </li>
        </ul>
        <div class="site-info">
            <p>Higher Education Department</p>
            <h3>Degree Colleges</h3>
        </div>
    </div>
</nav>
<div class="content-description">
    <div class="bannerBG">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                    <h2>Welcome to Higher Education Degree Colleges</h2>
                    <div class="textBody">
                        <p>
                            Providing a valid CHSE ‘Roll Number’ and Caste Certificate ‘Barcode Number’ (for
                            ST/SC Reservation Claim) while filling-in the Common Application Form will help
                            you Auto-Validate online application. Along with this if you make Online Application
                            Fee payment then your application will be treated as Auto-Validated application.
                            In such case only “Applicant Copy” of the CAF will be generated. There is no need
                            for you to submit any printed copy physically at the SAMS Resource Centre. This
                            process will save your valuable time &amp; money.
                        </p>
                        <div class="clearfix">
                        </div>
                        <p></p>
                        <span class="bannerButton">
                            <a href="Degree/CategoryWiseHonoursReportDetails.aspx" class="ban btn-success btn">Category
                                wise Vacancy</a>
                            <a href="https://online.samsodisha.gov.in/ONLINE_CAF_Degree/DegUserRegistration.aspx"
                                class="ban btn-success btn">Existing Student, Login</a>
                        </span>
                        <div class="clearfix">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                    <div class="OrangeBOX">
                        <div class="auto-height bg-whiteBoxInr">
                            <h3>Notices</h3>
                            <div class="newsScrl-bg" style="position: relative;">
                                <ul class="list-aggregate" id="marquee-vertical"
                                    style="position: absolute;left: 0px; height: auto;">

                                    <li>Extension of timeline for SPOT and Waiting admission for the session 2020
                                        21<a href="DocPath.ashx?clsid=1&amp;id=Document_24-Nov-2020_01_25.pdf"
                                            target="_blank"><i class="fa fa-file-pdf-o"
                                                style="font-size: 19px; color: red"></i></a> </li>
                                    <li>Step By Step guide for Degree SPOT Admission 2020<a
                                            href="DocPath.ashx?clsid=1&amp;id=Document_13-Nov-2020_03_17.pdf"
                                            target="_blank"><i class="fa fa-file-pdf-o"
                                                style="font-size: 19px; color: red"></i></a> </li>
                                    <li>Guidelines and Timeline for spot admission in Degree colleges for the
                                        session 2020 21<a
                                            href="DocPath.ashx?clsid=1&amp;id=Document_02-Nov-2020_01_19.pdf"
                                            target="_blank"><i class="fa fa-file-pdf-o"
                                                style="font-size: 19px; color: red"></i></a> </li>
                                    <li>Extended dateline for admission into degree colleges in 1st year classes for
                                        session 2020 21<a
                                            href="DocPath.ashx?clsid=1&amp;id=Document_12-Oct-2020_12_11.pdf"
                                            target="_blank"><i class="fa fa-file-pdf-o"
                                                style="font-size: 19px; color: red"></i></a> </li>
                                    <li>Equivalent Council list whose examination conducted by CHSE<a
                                            href="DocPath.ashx?clsid=1&amp;id=Document_05-Oct-2020_08_26.pdf"
                                            target="_blank"><i class="fa fa-file-pdf-o"
                                                style="font-size: 19px; color: red"></i></a> </li>
                                    <li>Extension of timeline for SPOT and Waiting admission for the session 2020
                                        21<a href="DocPath.ashx?clsid=1&amp;id=Document_24-Nov-2020_01_25.pdf"
                                            target="_blank"><i class="fa fa-file-pdf-o"
                                                style="font-size: 19px; color: red"></i></a> </li>
                                    <li>Step By Step guide for Degree SPOT Admission 2020<a
                                            href="DocPath.ashx?clsid=1&amp;id=Document_13-Nov-2020_03_17.pdf"
                                            target="_blank"><i class="fa fa-file-pdf-o"
                                                style="font-size: 19px; color: red"></i></a> </li>
                                    <li>Guidelines and Timeline for spot admission in Degree colleges for the
                                        session 2020 21<a
                                            href="DocPath.ashx?clsid=1&amp;id=Document_02-Nov-2020_01_19.pdf"
                                            target="_blank"><i class="fa fa-file-pdf-o"
                                                style="font-size: 19px; color: red"></i></a> </li>
                                    <li>Extended dateline for admission into degree colleges in 1st year classes for
                                        session 2020 21<a
                                            href="DocPath.ashx?clsid=1&amp;id=Document_12-Oct-2020_12_11.pdf"
                                            target="_blank"><i class="fa fa-file-pdf-o"
                                                style="font-size: 19px; color: red"></i></a> </li>
                                    <li>Equivalent Council list whose examination conducted by CHSE<a
                                            href="DocPath.ashx?clsid=1&amp;id=Document_05-Oct-2020_08_26.pdf"
                                            target="_blank"><i class="fa fa-file-pdf-o"
                                                style="font-size: 19px; color: red"></i></a> </li>
                                </ul>
                            </div>
                            <hr>
                            <center>
                                <a href="DegreeNoticeDtl.aspx" class="btn btn-success">View More</a></center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cources-offered">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 cource-headings">
                <div class="OrangeBOX">
                    <div class="auto-height bg-whiteBoxInr">
                        <h3>MANAGEMENT
                            PROGRAMMES</h3>
                        <div>
                            <ul class="list-aggregate" id="marquee-vertical" style="left: 0px; height: auto;">
                                <li><a href="" target="_blank">MBA (Distance Mode)</a> </li>
                                <li><a href="" target="_blank">MBA Evening (Regular Mode)</a> </li>
                                <li><a href="" target="_blank">PG Diploma in Management (Distance Mode)</a> </li>
                                <li><a href="" target="_blank">PG Diploma in Banking & Insurance Management
                                        (Regular/Distance Mode)</a> </li>
                            </ul>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <a href="/newregistration">
                                    <button type="button" class="btn btn-warning">New Registration</button>
                                </a>
                                <a href="/studentlogin">
                                    <button type="button" class="btn btn-success">Existing User Login</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 cource-headings">
                <div class="OrangeBOX">
                    <div class="auto-height bg-whiteBoxInr">
                        <h3>COMPUTER SCIENCE & APPLICATION</h3>
                        <div>
                            <ul class="list-aggregate" id="marquee-vertical" style="left: 0px; height: auto;">
                                <li><a href="" target="_blank">MCA 3 Yr. (Regular Mode)</a> </li>
                                <li><a href="" target="_blank">LATERAL MCA (Regular Mode)</a> </li>
                                <li><a href="" target="_blank">M.Sc. Computer Science & Application (Regular Mode)</a>
                                </li>
                                <li><a href="" target="_blank">M.Sc. IT (Regular Mode)</a> </li>
                                <li><a href="" target="_blank">M.Sc. IT (Regular Mode)</a> </li>
                            </ul>
                        </div>
                       
                        <div class="row">
                            <div class="col-md-12">
                                <a href="/newregistration">
                                    <button type="button" class="btn btn-warning">New Registration</button>
                                </a>
                                <a href="/studentlogin">
                                    <button type="button" class="btn btn-success">Existing User Login</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 cource-headings">
                <div class="OrangeBOX">
                    <div class="auto-height bg-whiteBoxInr">
                        <h3>POST GRADUATION (DISTANCE)</h3>
                        <div>
                            <ul class="list-aggregate" id="marquee-vertical" style="left: 0px; height: auto;">
                                <li><a href="" target="_blank">MA in Economics</a> </li>
                                <li><a href="" target="_blank">MA in Odia</a> </li>
                                <li><a href="" target="_blank">MA in Sociology</a> </li>
                                <li><a href="" target="_blank">MA in Education</a> </li>
                                <li><a href="" target="_blank">MA in Political Science</a></li>

                            </ul>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <a href="/newregistration">
                                    <button type="button" class="btn btn-warning">New Registration</button>
                                </a>
                                <a href="/studentlogin">
                                    <button type="button" class="btn btn-success">Existing User Login</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <h5>SAMS Website</h5>
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <ul class="listed-item">
                            <li><a href="http://samsodisha.gov.in/Degreeweb.aspx" target="_blank">Degree (+3)</a></li>
                            <li><a href="http://samsodisha.gov.in/Juniorweb.aspx" target="_blank">Higher Secondary
                                    School (+2)</a></li>
                            <li><a href="http://scert.samsodisha.gov.in/bedweb.aspx" target="_blank">Teacher Education
                                    &amp; SCERT</a></li>
                            <li><a href="http://samsodisha.gov.in/CorrespondenceWeb.aspx" target="_blank">Correspondence
                                    (CHSE)</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <ul class="listed-item">
                            <li><a href="http://skill.samsodisha.gov.in/ITI.aspx" target="_blank">ITI</a></li>
                            <li><a href="http://skill.samsodisha.gov.in/Diploma.aspx" target="_blank">Diploma
                                    (Polytechnic)</a></li>
                            <li><a href="http://dsy.samsodisha.gov.in/sports.aspx" target="_blank">Physical
                                    Education</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-sm-6">
                <h5>About</h5>
                <ul class="listed-item">
                    <li><a href="#">About SAMS</a></li>
                    <li><a href="#">Feedback</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6">
                <h5>Connect</h5>
                <ul class="socialicons">
                    <li class="icon-circle">
                        <a href="https://www.facebook.com/SAMSOdisha1" target="_blank" class="ifacebook"
                            title="Facebook"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="icon-circle">
                        <a href="https://twitter.com/SAMSOdisha" target="_blank" class="itwittter" title="Twitter"><i
                                class="fab fa-twitter-square"></i></a>
                    </li>
                    <li class="icon-circle">
                        <a href="https://twitter.com/SAMSOdisha" target="_blank" class="itwittter" title="Twitter"><i
                                class="fab fa-twitter-square"></i></a>
                    </li>
                    <!--<li class="icon-circle">
                            <a href="#" class="igoogle" title="Google+"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li class="icon-circle">
                            <a href="#" class="iyoutube" title="Youtube"><i class="fa fa-youtube"></i></a>
                        </li>-->
                </ul>
            </div>
        </div>
    </div>
</section>