<head>
    <link rel="stylesheet" href="/css/instruction.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>

<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/"><img src="/image/XYZUniversity.png" style="width: 160px;" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/postgraduation">Cources Offered</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/" tabindex="-1" aria-disabled="true">Contact Us</a>
            </li>
        </ul>
        <div class="site-info">
            <p>Higher Education Department</p>
            <h3>Degree Colleges</h3>
        </div>
    </div>
</nav>


<div class="container-fluid" style="padding-left: 0px;padding-top:1rem">
    <div class="row">
        <div>
            <div class="col-lg-12">
                <table style="width: 100%; border:0" class="table table-striped">
                    <tbody>
                        <tr>
                            <td rowspan="3" valign="top">
                                <ul class="leftnav">
                                    <li>
                                        <center>
                                            <img src="../uploads/{{userData.profilepicture.data}}" alt="" height="80px" width="80px">
                                        </center>
                                    </li>
                                    <li>
                                        <center>
                                            <span style="font-size:19px;">
                                                <b>
                                                    <span>
                                                       {{user.applicantName}}
                                                    </span>
                                                    <br>
                                                    <span>
                                                        {{user.__v}}
                                                    </span>
                                                </b>
                                            </span>
                                        </center>
                                    </li>
                                    <li class="leftnavli">
                                        <a class="active" href="/student/instruction">
                                            <i class="fas fa-tachometer-alt" style="font-size:25px;"></i>
                                            &nbsp;&nbsp;&nbsp;Dashboard
                                        </a>
                                    </li>
                                    <li class="leftnavli">
                                        <a href="/student/upload_photo">
                                            <i class="fas fa-image" style="font-size:25px;"></i>
                                            &nbsp;&nbsp;&nbsp; Upload Photo & Signature
                                        </a>
                                    </li>
                                    <li class="leftnavli">
                                        <a href="/student/upload_doc">
                                            <i class="fa fa-file-pdf" style="font-size:25px;"></i>
                                            &nbsp;&nbsp;&nbsp; Upload Documents
                                        </a>
                                    </li>
                                    <li class="leftnavli">
                                        <a href="/student/show_Print_Form">
                                            <i class="fa fa-newspaper" style="font-size:25px;"></i>
                                            &nbsp;&nbsp;&nbsp; Print Form
                                        </a>
                                    </li>
                                    <li class="leftnavli">
                                        <a href="student/logout">
                                            <i class="fa fa-power-off" style="font-size:25px;"></i>
                                            &nbsp;&nbsp;&nbsp; Log out
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="center">
                                <h2>Instructions for Online Application (2020-2021)</h2>
                                <table class="table table-bordered table-hover table-striped ">
                                    <tbody>
                                        <tr>
                                            <td>All mandatory fields are indicated by the "*" mark. </td>
                                        </tr>
                                        <tr>
                                            <td>There are no fees for online application form and entrance test. </td>
                                        </tr>
                                        <tr>
                                            <td>Do not use back button during filling up the form.</td>
                                        </tr>
                                        <tr>
                                            <td>All information that you enter in the form is automatically converted to
                                                upper case (in capitals)</td>
                                        </tr>
                                        <tr>
                                            <td><b>Fill up all details of the form</b> (Personal Information, Address,
                                                Subjects, Qualifications Details etc) correctly then click <b>Submit
                                                    &amp;
                                                    Continue</b> button.</td>
                                        </tr>
                                        <tr>
                                            <td>Once the form is duly submitted, <b>upload your Passport Size Photograph
                                                    with clear visibility of face and clear background (Max Size: 100
                                                    KB)
                                                    &amp; Signature with clear visibility (Max Size: 50 KB) in .jpg </b>
                                                format only. </td>
                                        </tr>
                                        <tr>
                                            <td>Upload all required <b>documents (Mark Sheets &amp; Certificates etc.)
                                                    in
                                                    .pdf format (Max Size: 1 MB each).</b> </td>
                                        </tr>
                                        <tr>
                                            <td>Once the certificates are uploaded and Final Submit, an applicant cannot
                                                edit the Online form/ Course/ Photograph/ Signature etc. After
                                                successful
                                                submission of the Application Form and documents submitted by the
                                                applicant,
                                                the entire online document verification process will start by DDCE,
                                                which
                                                will take 48 working hours. </td>
                                        </tr>
                                        <tr>
                                            <td>The verification of all the Computer Sc. Courses, PGDBIM and Evening MBA
                                                course will be completed after successful clearance of <b>Online test/
                                                    PI.
                                                </b> Admission to these courses are subject to availability of seats.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Please keep a note of the Form Number for further communication. </td>
                                        </tr>
                                        <tr>
                                            <td>Before final submission of online Application form, <b>read the
                                                    declaration</b> carefully and give your consent on it. </td>
                                        </tr>
                                        <tr>
                                            <td>Once the form is accepted, your payment bank challan will be generated.
                                                Take
                                                a Print out of the Bank Challan by login with your Form no and Date of
                                                Birth
                                                and deposit fees at any branch of Canara (E-Syndicate) Bank through the
                                                generated challan. Fees once paid can't be refunded under any
                                                circumstances.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>The challan is student specific, in which the name of the candidate,
                                                form
                                                no. and the amount for the purpose of deposits are specific. Upload the
                                                copy
                                                of Challan after depositing the fees in the Canara (E-Syndicate) Bank.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>DDCE will verify the payment process. Once the payment is received by
                                                DDCE,
                                                the e-Identity Card, e-Prospectus and e-receipt will be uploaded in the
                                                student portal. </td>
                                        </tr>
                                        <tr>
                                            <td>For Admission query e-mail us at <b>helpline@ddceutkal.ac.in</b> </td>
                                        </tr>
                                        <tr>
                                            <td>Call us during working days between 11:00 AM to 4:00 PM at: 9437156110,
                                                7847055859. The telephone nos will be activated till the completion of
                                                admission. </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>